@import "App.scss";

.header {
	background-color: $menu-background-color;
	display: grid;
	@media (max-width: 768px) {
		grid-template-areas: "image navigation";
		grid-template-columns: max-content auto;  
	}
	grid-template-areas: "image navigation .";
	grid-template-columns: auto 33vw auto;
}

.header__image-container {
	padding: 0.5em;
	grid-area: image;
}
.header__image {
	width: 100px;
}

.header__navigation{
	grid-area: navigation;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 1em;

	list-style-type: none;
}

.header__navigation-item a{
	text-decoration: none;

}
.header__navigation-item a:visited{
	color: var(--primary-color)
}